<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<servlet>
		<description></description>
		<display-name>FeedController</display-name>
		<servlet-name>FeedController</servlet-name>
		<servlet-class>controller.FeedController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedController</servlet-name>
		<url-pattern>/FeedController</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://domain/tags</taglib-uri>
			<taglib-location>/META-INF/feedTag.tld</taglib-location>
		</taglib>

	</jsp-config>
	<display-name>FeedJSPJSTL</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>